body {
  width: 210mm;
  height: 297mm;
  margin: auto;   
  box-sizing: border-box;
}
h2{
    font-size: 1.1em;
}
.info-header{
  
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
 
}
.info-header #role{
    font-size: 1.1em;
    font-style: italic;
}
.info-header #info{
    font-size:1em;
    list-style: none;
    text-decoration: none;
}
.summary p{
    font-size: 1em;
    text-align: justify;
}
.proff-experience #role{
    font-size: 1em;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.proff-experience #company{
    font-size: 0.9em;
    
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.proff-experience #role-description{
    text-align: justify;

}
#dates{
    align-items: end;
}
#location{
    align-items: end;
}
.proff-experience #role-summary{
    text-align: justify;
}
.projects #project-desc{
    text-align: justify;
    padding: 10px;
    line-height: 1.5;

}
